<!DOCTYPE html>
<html>
    <head>
        <title>Personalized QR Code Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- link rel="stylesheet" href="style.css" --> 
    </head>
    <body>
        <div class="header"><h1>Please fill up the below form to create a personalized QR Code</h1><br></div>

        <div class="grid-container">

            <div class="sidebar1"></div>

            <div class="form-content">
                <form action="/submit-form" method="POST">
                <!-- Text Input -->
                <input type="text" id="name" name="name" required size="80" placeholder="Your name"><br><br>

                <textarea id="address" name="address" rows="3" cols="75" placeholder="Your address"></textarea><br><br>

                <div class="contact-no">
                    <!-- label for="mobile">Mobile:</label -->
                    <input type="text" id="mobile" name="mobile" required size="30" placeholder="mobile number">

                    <!-- label for="landl">Land Line:</label -->
                    <input type="text" id="landl" name="landl" size="30" placeholder="landline">
                </div>
                <br>
                <div class="contact-no">
                    <!-- label for="emer1">Emergency Contact #1:</label -->
                    <input type="text" id="emer1" name="emer1" required size="30" placeholder="Emergency contact#">
                    <!-- label for="emer2">#2 (optional):</label -->
                    <input type="text" id="emer2" name="emer2" size="30" placeholder="Additional emergency#">
                </div>
                <br><br>
                <div class="med">
                    <input type="text" id="bgrp" name="bgrp" size="15" placeholder="blood group">
                    <input type="text" id="insp" name="insp" size="30" placeholder="Health insurance provider">
                    <input type="text" id="polnum" name="polnum" size="15" placeholder="policy#">
                </div>
                <br>
                <textarea id="medh" name="medh" rows="3" cols="75" placeholder="Important medical conditions"></textarea><br><br>

                <!-- Submit Button -->
                <button type="submit" class="submit-btn">Generate QR Code</button>
                </form>
            </div>

            <div class="sidebar2"></div>
        </div>

        <div class="footer"></div>
    </body>
</html>
