body {
  background-color: rgb(155, 220, 236);
}

.header {
  text-align: center;
  color: white
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "sidebar1 form-content sidebar2";
    gap: 4px;
}

.grid-container > div.sidebar1 {grid-area: sidebar1;}
.grid-container > div.form-content {grid-area: form-content; border: 2px solid gray; padding: 20px;}
.grid-container > div.sidebar2 {grid-area: sidebar2;}

.contact-no input {
  display: inline-block;
  margin-right: 10px; /* Space between fields */
}

.med input {
  display: inline-block;
  margin-right: 5px; /* Space between fields */
}
.submit-btn {
  background-color: lightblue;
  color: white;
  width: 100%;
  padding: 10px; /* top/bottom */
  border: 2px solid gray;
  border-radius: 5px;
  cursor: pointer;

}

.submit-btn:hover {
  background-color: blue; /* Change to red on hover */
  transition: background-color 0.3s; /* Smooth transition */
}